## Kernel Cross Compiler
cross_compile=""
cross_compile_arm32=""
use_clang=""
build_silent=""

## Target Device Architecture
device_arch=""

#
## Target Kernel Architecture (optional)
#
# This is used if device architecture is different
# from kernel architecture to use (ex. mainline x86_64)
kernel_arch=""

## Target Device Defconfig
kernel_defconfig=""
